/* animations and transition */

/* transition property: (fontsize,width,etc)
transition-property: property to be animated


transition duration: timing 
transition-duration: duration of the transition

transition-timing-function:type of transition
(ease-in,ease out,etc

transition-delay */

#container {
  height: 30px;
  width: 200px;
  background-color: red;
  border: black 2px solid;
  color:whitesmoke;
  font-weight: bolder;
  font-size: 25px;

  text-align: center;
  padding: 30px;
  position:relative;
  top: 100px;
  left: 200px; 
  animation-name: mymove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  animation-delay: 0.5s;
 
  
  /* transition-property: all ;
  transition-duration: 1s;
  transition-timing-function: ease-in-out; */
  

  /* shorthand for all the above properties */
  transition:all 1s ease-in 0.5s; 
}


#container:hover {
  background-color: pink;
  color: magenta;
  border-radius: 100px;
  translate: 50px;
  
  
}

#container:active {
  background-color: blueviolet;
  color: white;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-size: 15px;
}

/*css transform  */
#container:hover {
  transform: skew(30deg);
  
}

#container:active {
  transform: rotate(720deg);
  transform: translate(50px);
  
}

/* animation */


@keyframes mymove  {
  from {left:0px;
  background-color: lightcoral;
height: 30px;

}
  to {left: 1100px;
  background-color: darkred;
height: 100px;
padding: 100px;
}
  50% {left: 500px;
  background-color: red;
height: 50px;
padding: 50px;
  }
}

/* PRACTICE: LOADER */



